* {
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}
